<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bar.Name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @bar.Lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @bar.Lon %>
</p>

<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
