<p id="notice"><%= notice %></p>

<p>
  <strong>Specialid:</strong>
  <%= @dow.specialid %>
</p>

<p>
  <strong>Day:</strong>
  <%= @dow.day %>
</p>

<%= link_to 'Edit', edit_dow_path(@dow) %> |
<%= link_to 'Back', dows_path %>
